In [70]:
import pandas as pd

In [71]:
amazon_df = pd.read_csv("datasets/amazon_prime_titles.csv")
disney_df = pd.read_csv("datasets/disney_plus_titles.csv")
hulu_df = pd.read_csv("datasets/hulu_titles.csv")
netflix_df = pd.read_csv("datasets/netflix_titles.csv")
amazon_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [72]:
amazon_df.insert(loc=0, column="id", value="a" + amazon_df["show_id"])
disney_df.insert(loc=0, column="id", value="d" + disney_df["show_id"])
hulu_df.insert(loc=0, column="id", value="h" + hulu_df["show_id"])
netflix_df.insert(loc=0, column="id", value="n" + netflix_df["show_id"])
disney_df.tail(5)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1445,ds1446,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,ds1447,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,ds1448,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,ds1449,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,ds1450,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

In [73]:
movies_df = pd.concat([amazon_df,disney_df,hulu_df,netflix_df], axis=0)
movies_df

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,ns8803,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,ns8804,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,ns8805,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,ns8806,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,ns8807,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [74]:
movies_df.isnull().sum() # ratings 864 null
movies_df["rating"].fillna("G", inplace=True)
movies_df.isnull().sum()

id                  0
show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating              0
duration          482
listed_in           0
description         4
dtype: int64

In [75]:
movies_df["date_added"] = pd.to_datetime(movies_df["date_added"])
movies_df.head(3)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...

In [76]:
movies_df["type"] = movies_df["type"].str.lower()
movies_df["title"] = movies_df["title"].str.lower()
movies_df["director"] = movies_df["director"].str.lower()
movies_df["cast"] = movies_df["cast"].str.lower()
movies_df["country"] = movies_df["country"].str.lower()
movies_df["rating"] = movies_df["rating"].str.lower()
movies_df["duration"] = movies_df["duration"].str.lower()
movies_df["listed_in"] = movies_df["listed_in"].str.lower()
movies_df["description"] = movies_df["description"].str.lower()
movies_df

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a..."
8803,ns8804,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g..."
8804,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...
8805,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero..."
8806,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...

In [77]:
movies_df['duration'].isnull().sum()

482

In [78]:
columns = movies_df["duration"].str.split(" ", n=1, expand=True)
columns

        0        1
0     113      min
1     110      min
2      74      min
3      69      min
4      45      min
...   ...      ...
8802  158      min
8803    2  seasons
8804   88      min
8805   88      min
8806  111      min

[22998 rows x 2 columns]

In [79]:
movies_df["duration_int"] = columns[0]
movies_df["duration_type"] = columns[1]
movies_df["duration_int"] = movies_df["duration_int"].astype("Int64")
movies_df.tail(5)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
8802,ns8803,s8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158,min
8803,ns8804,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2,seasons
8804,ns8805,s8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...,88,min
8805,ns8806,s8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",88,min
8806,ns8807,s8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min

In [80]:
median=movies_df['duration_int'].median(skipna=True) #482 null on duration_int
median

85.0

In [81]:
movies_df['duration_int']=movies_df['duration_int'].fillna(85)

In [82]:
movies_df= movies_df.drop(columns=['show_id','duration'])
movies_df

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,ns8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158,min
8803,ns8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2,seasons
8804,ns8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,88,min
8805,ns8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",88,min
8806,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min

In [83]:
df1=pd.read_csv("datasets/1.csv")
df2=pd.read_csv("datasets/2.csv")
df3=pd.read_csv("datasets/3.csv")
df4=pd.read_csv("datasets/4.csv")
df5=pd.read_csv("datasets/5.csv")
df6=pd.read_csv("datasets/6.csv")
df7=pd.read_csv("datasets/7.csv")
df8=pd.read_csv("datasets/8.csv")
df8.head()

   userId  rating   timestamp movieId
0  108422     4.5  1350689762  as1399
1  108422     4.0  1350341401  as6724
2  108422     5.0  1350689691   ns512
3  108422     4.5  1350341088  ns7444
4  108422     4.5  1350689619  as2230

In [84]:
rating_users= pd.concat([df1,df2,df3,df4,df5,df6,df7,df8],axis=0)
rating_users

         userId  rating   timestamp movieId
0             1     1.0  1425941529   as680
1             1     4.5  1425942435  ns2186
2             1     5.0  1425941523  hs2381
3             1     5.0  1425941546  ns3663
4             1     5.0  1425941556  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  1196786159  ns5272
1499996  124380     2.5  1196786030  ns5492
1499997  124380     3.5  1196785679   hs305
1499998  124380     4.5  1196787089  ns7881
1499999  124380     1.5  1196785847   as883

[11024289 rows x 4 columns]

In [85]:
rating_users['timestamp']=pd.to_datetime(rating_users['timestamp'],unit='s')
rating_users['timestamp'] = rating_users['timestamp'].dt.date
rating_users

         userId  rating   timestamp movieId
0             1     1.0  2015-03-09   as680
1             1     4.5  2015-03-09  ns2186
2             1     5.0  2015-03-09  hs2381
3             1     5.0  2015-03-09  ns3663
4             1     5.0  2015-03-09  as9500
...         ...     ...         ...     ...
1499995  124380     4.5  2007-12-04  ns5272
1499996  124380     2.5  2007-12-04  ns5492
1499997  124380     3.5  2007-12-04   hs305
1499998  124380     4.5  2007-12-04  ns7881
1499999  124380     1.5  2007-12-04   as883

[11024289 rows x 4 columns]

In [86]:
rating_users.to_csv('datasets/rating_users.csv',index=False,sep=';')

In [87]:
rating_users.rename(columns={'movieId':'id','rating':'score'}, inplace= True)
rating_users

         userId  score   timestamp      id
0             1    1.0  2015-03-09   as680
1             1    4.5  2015-03-09  ns2186
2             1    5.0  2015-03-09  hs2381
3             1    5.0  2015-03-09  ns3663
4             1    5.0  2015-03-09  as9500
...         ...    ...         ...     ...
1499995  124380    4.5  2007-12-04  ns5272
1499996  124380    2.5  2007-12-04  ns5492
1499997  124380    3.5  2007-12-04   hs305
1499998  124380    4.5  2007-12-04  ns7881
1499999  124380    1.5  2007-12-04   as883

[11024289 rows x 4 columns]

In [88]:
aux= rating_users.groupby('id')['score'].mean()
aux= aux.to_frame()
aux['id']=aux.index
aux=aux.reset_index(drop=True)
aux.dtypes

score    float64
id        object
dtype: object

In [89]:
moviescores=pd.merge(movies_df,aux)
moviescores

,id,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,duration_int,duration_type,score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,113,min,3.467131
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,110,min,3.548682
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min,3.500000
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",69,min,3.538055
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,ns8803,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",158,min,3.438998
22994,ns8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",2,seasons,3.515947
22995,ns8805,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,88,min,3.420945
22996,ns8806,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",88,min,3.588050
22997,ns8807,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,111,min,3.529228

In [90]:
moviescores.to_csv('datasets/moviescores.csv',index=False,sep=';')

In [91]:
moviescores.isnull().sum()

id                   0
type                 0
title                0
director          8259
cast              5321
country          11499
date_added        9554
release_year         0
rating               0
listed_in            0
description          4
duration_int         0
duration_type      482
score                0
dtype: int64